# macOS
.DS_Store

# Xcode build files
DerivedData/
build/

# User settings
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
/Packages/
/*.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Logs
*.log

# Environment
.env

# Firebase
GoogleService-Info.plist
